<% if notice %>
  <div class="alert alert-info" role="alert"><%= notice %></div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <%= image_tag image_url('breakfast-icon.png'), class: "menu-icon" %>
    <div class="items">
      <h3>Breakfast</h3>
      <% @courses.find_by_name("Breakfast").dishes.each do |d| %>
        <p>
          <span class="dish"><%= link_to "#{d.name}", edit_dish_path(d) %></span>
          <span class="description"><%= "#{d.description}" %></span>
          <span class="badge"><%= number_to_currency(d.price) %></span>
        </p>
      <% end %>
      <button type="button" class="btn btn-default"><%= link_to "Add to Breakfast",
          new_dish_path(course_id: @courses.find_by_name("Breakfast").id) %></button>
    </div>
  </div>

  <div class="col-md-6">
    <%= image_tag image_url('bread-icon.png'), class: "menu-icon" %>
    <div class="items">
      <h3>Lunch</h3>
      <% @courses.find_by_name("Lunch").dishes.each do |d| %>
        <p>
          <span class="dish"><%= link_to "#{d.name}", edit_dish_path(d) %></span>
          <span class="description"><%= "#{d.description}" %></span>
          <span class="badge"><%= number_to_currency(d.price) %></span>
        </p>
      <% end %>
      <button type="button" class="btn btn-default"> <%= link_to "Add to Lunch",
          new_dish_path(course_id: @courses.find_by_name("Lunch").id) %></button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= image_tag image_url('meat-icon.png'), class: "menu-icon" %>
    <div class="items">
      <h3>Dinner</h3>
      <% @courses.find_by_name("Dinner").dishes.each do |d| %>
        <p>
          <span class="dish"><%= link_to "#{d.name}", edit_dish_path(d) %></span>
          <span class="description"><%= "#{d.description}" %></span>
          <span class="badge"><%= number_to_currency(d.price) %></span>
        </p>
      <% end %>
      <button type="button" class="btn btn-default"><%= link_to "Add to Dinner",
          new_dish_path(course_id: @courses.find_by_name("Dinner").id) %></button>
    </div>
  </div>


</div>
