<h1>Joe's Diner</h1>
<p id="notice"><%= notice %></p>


<div class="row">
  <div class="col-md-6">
    <p class="lead">Breakfast</p>
    <% @courses.find_by_id(1).dishes.each do |d| %>
      <p>
        <%= link_to "#{d.name}", edit_dish_path(d) %>
        <%= "#{d.description}" %>
        <span class="badge"><%= number_to_currency(d.price) %></span>
      </p>
    <% end %>
    <p> <%= link_to "Add to #{@courses.find_by_id(1).name}", new_dish_path(course_id: @courses.find_by_id(1).id) %></p>
  </div>

  <div class="col-md-6">
    <p class="lead">Lunch</p>
    <% @courses.find_by_id(2).dishes.each do |d| %>
      <p>
        <%= link_to "#{d.name}", edit_dish_path(d) %>
        <%= "#{d.description}" %>
        <span class="badge"><%= number_to_currency(d.price) %></span>
      </p>
    <% end %>
    <p> <%= link_to "Add to #{@courses.find_by_id(2).name}", new_dish_path(course_id: @courses.find_by_id(2).id) %></p>
  </div>
</div>
